.contact {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
  /* height: 600px; */
  margin-top: 100px;
}
.contact-form {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #dfe399;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  /* margin: 3rem 0; */
  padding: 2rem 0;
}
.contact-form-inputs {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  background-color: #dfe399;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 50%;
  margin: 1rem;
  font-size: 0.85rem;
}
.contact-form h1 {
  margin-left: 1.1rem;
  font-size: 2rem;
  font-weight: 500;
}
.contact-form p {
  font-size: 0.9rem;
  margin-left: 1.1rem;
}

.contact-form-and-info {
}

/*send-btnsend-btnsend-btnsend-btnsend-btnsend-btnsend-btn*/

.send-btn {
  font-size: 0.71rem;
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  outline: none;
  text-align: center;

  align-self: flex-end;
  margin: 3rem 2rem 0 0;
}

/*contact-infocontact-infocontact-infocontact-infocontact-info*/

.contact-info {
  width: 30%;
  /* height: 100%; */
  /* border: 2px solid rgb(255, 0, 200); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;

  margin: 3rem 0;
  padding: 2rem 0;
}

.address p {
  font-size: 0.89rem;
  margin-left: 1.1rem;
  line-height: 1.25rem;
}
.brand-name {
  color: gray;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  /* font-weight: bold; */
}
/*socail-mediasocail-mediasocail-mediasocail-mediasocail-media*/
.socail-media {
  margin-left: 0.6rem;
  font-size: 2rem;
  display: flex;
  /* justify-content: space-evenly; */
}

.socail-media i {
  opacity: 0.75;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0.75rem;
}

.socail-media i:hover {
  opacity: 7;
}

/*media query media query media query media query media query */

@media (max-width: 1300px) {
  .contact-form {
    width: 50%;
  }
}

@media (max-width: 590px) {
  .contact-form {
    width: 90%;
  }
  .contact {
    flex-direction: column;
  }

  .contact-info {
    width: 90%;
    z-index: 987654;
  }
  .address p {
    font-size: 0.69rem;
    margin-left: 1.1rem;
    line-height: 1.25rem;
  }

  .socail-media i {
    opacity: 0.75;
    font-size: 1.25rem;
    margin: 0.5rem;
  }
}
