.service-component {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;

  text-align: center;
  padding: 1rem;
}
.info-div {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-div {
  height: 50%;
}
.image-div img {
  width: 90%;
}

.service-component h1 {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(1, 34, 23);
}
.service-component p {
  /* font-family: "Lucida Sans"; */
  letter-spacing: 0.05rem;
}

.buy-btn {
  background: none;
  outline: none;
  width: 50%;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  margin: 0 auto;
  /* color: #d5d8da; */
  border: 1px solid #c3d4d2;
  background-color: #c3d4d2;
  cursor: pointer;
}
.buy-btn:hover {
  /* opacity: 0.75; */
  background-color: rgba(128, 128, 128, 0.156);
  border: 1px solid #c3d4d2;
  background-color: #c3d4d2;
}

@media (max-width: 1222px) {
  .info-div {
    /* background-color: red; */
    font-size: 1rem;
  }
  .info-div p {
    font-size: 0.75rem;
  }
  .service-component {
    max-width: 200px;
  }
  .buy-btn {
    font-size: 0.5rem;
    padding: 0.25rem 0.25rem;
  }
}

@media (max-width: 835px) {
  .service-card-container {
    flex-direction: column;
    margin: 2rem 0;
  }
  .info-div {
    /* background-color: red; */
    font-size: 1rem;
  }
  .info-div p {
    font-size: 1rem;
  }
  .service-component {
    max-width: 300px;
    margin: 0 0 2rem 0;
  }
  .buy-btn {
    font-size: 0.5rem;
    padding: 0.25rem 0.25rem;
  }
}
