.photo-btn {
  background-color: #c3d4d2;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;

  margin: 1rem;
}

.photo {
  /* background-color: #c3d4d2; */
  width: 50%;
  padding: 1rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-and-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-delete-edit {
  display: flex;
  width: 100%;
}

.review-card {
  background-color: #dfe399;
  margin: 1rem;
}
.review-container {
  width: 100%;

  flex-direction: row;
}
